#page{
    margin: 10px 0 10px;
    padding: 10px 5px 10px 5px;
}

#inputContent{
    display: inline-block;    
    align-items: center;
    padding: 5px 5px 5px 5px;
}

.coeficiente{
    width: 60px;
}

#botones{
    padding-top: 10px;
    display: flex;    
    align-items: center;
}

#label1{
    margin-right: 275px;
}